# Default ignored files
/shelf/
/wandb/
/weights/
/casspr/
/minkloc3dv2/
/svtnet/
/transloc3d/
/training/wandb/
/workspace.xml
# ignore all .xml files
*.xml
# ignore all .iml files
*.iml
# ignore all .png files
*.png
# ignore all .jpg files
*.jpg
# ignore all .jpeg files
*.jpeg
# ignore all .json files
*.json
# ignore all .npz files
*.npz
# ignore all .webm files
*.webm
# ignore all .npy files
*.npy
# ignore all .pth files
*.pth
# ignore all .json files
*.json
# ignore all .log files
*.log
# ignore all .pyc files
*.pyc
*.wandb
# ignore all events files
events.out.tfevents.*

# ignore all .log files
*.cu
# ignore all .log files
*.ho
# ignore all .pyc files
# ignore all .pyc files